.no-select {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.no-wrap { white-space: nowrap; }

.no-focus-outline:focus { outline: none; }

.cursor-pointer { cursor: pointer; }

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.float-left { float: left; }
.float-right { float: right; }
