* {
    transition-property: color, background-color, border-color;
    transition-duration: var(--fast-transition-duration);
    transition-timing-function: var(--default-transition-function);
}

body {
    transition-property: background-color;
    transition-duration: var(--default-transition-duration);
    transition-timing-function: var(--default-transition-function);
}
