:root {
    --blue: var(--blue-500);
    --indigo: var(--indigo-500);
    --purple: var(--purple-500);
    --pink: var(--pink-500);
    --red: var(--red-500);
    --orange: var(--orange-500);
    --yellow: var(--yellow-500);
    --green: var(--green-500);
    --teal: var(--teal-500);
    --cyan: var(--cyan-500);
    --gray: var(--gray-500);

    --black: 0, 0, 0;
    --white: 255, 255, 255;

    --blue-100: 207, 226, 255;
    --blue-200: 158, 197, 254;
    --blue-300: 110, 168, 254;
    --blue-400: 61, 139, 253;
    --blue-500: 13, 110, 253;
    --blue-600: 10, 88, 202;
    --blue-700: 8, 66, 152;
    --blue-800: 5, 44, 101;
    --blue-900: 3, 22, 51;

    --indigo-100: 224, 207, 252;
    --indigo-200: 194, 159, 250;
    --indigo-300: 163, 112, 247;
    --indigo-400: 133, 64, 245;
    --indigo-500: 102, 16, 242;
    --indigo-600: 82, 13, 194;
    --indigo-700: 61, 10, 145;
    --indigo-800: 41, 6, 97;
    --indigo-900: 20, 3, 48;

    --purple-100: 226, 217, 243;
    --purple-200: 197, 179, 230;
    --purple-300: 169, 142, 218;
    --purple-400: 140, 104, 205;
    --purple-500: 111, 66, 193;
    --purple-600: 89, 53, 154;
    --purple-700: 67, 40, 116;
    --purple-800: 44, 26, 77;
    --purple-900: 22, 13, 39;

    --pink-100: 247, 214, 230;
    --pink-200: 239, 173, 206;
    --pink-300: 230, 133, 181;
    --pink-400: 222, 92, 157;
    --pink-500: 214, 51, 132;
    --pink-600: 171, 41, 106;
    --pink-700: 128, 31, 79;
    --pink-800: 86, 20, 53;
    --pink-900: 43, 10, 26;

    --red-100: 248, 215, 218;
    --red-200: 241, 174, 181;
    --red-300: 234, 134, 143;
    --red-400: 227, 93, 106;
    --red-500: 220, 53, 69;
    --red-600: 176, 42, 55;
    --red-700: 132, 32, 41;
    --red-800: 88, 21, 28;
    --red-900: 44, 11, 14;

    --orange-100: 255, 229, 208;
    --orange-200: 254, 203, 161;
    --orange-300: 254, 178, 114;
    --orange-400: 253, 152, 67;
    --orange-500: 253, 126, 20;
    --orange-600: 202, 101, 16;
    --orange-700: 152, 76, 12;
    --orange-800: 101, 50, 8;
    --orange-900: 51, 25, 4;

    --yellow-100: 255, 243, 205;
    --yellow-200: 255, 230, 156;
    --yellow-300: 255, 218, 106;
    --yellow-400: 255, 205, 57;
    --yellow-500: 255, 193, 7;
    --yellow-600: 204, 154, 6;
    --yellow-700: 153, 116, 4;
    --yellow-800: 102, 77, 3;
    --yellow-900: 51, 39, 1;

    --green-100: 209, 231, 221;
    --green-200: 163, 207, 187;
    --green-300: 117, 183, 152;
    --green-400: 71, 159, 118;
    --green-500: 25, 135, 84;
    --green-600: 20, 108, 67;
    --green-700: 15, 81, 50;
    --green-800: 10, 54, 34;
    --green-900: 5, 27, 17;

    --teal-100: 210, 244, 234;
    --teal-200: 166, 233, 213;
    --teal-300: 121, 223, 193;
    --teal-400: 77, 212, 172;
    --teal-500: 32, 201, 151;
    --teal-600: 26, 161, 121;
    --teal-700: 19, 121, 91;
    --teal-800: 13, 80, 60;
    --teal-900: 6, 40, 30;

    --cyan-100: 207, 244, 252;
    --cyan-200: 158, 234, 249;
    --cyan-300: 110, 223, 246;
    --cyan-400: 61, 213, 243;
    --cyan-500: 13, 202, 240;
    --cyan-600: 10, 162, 192;
    --cyan-700: 8, 121, 144;
    --cyan-800: 5, 81, 96;
    --cyan-900: 3, 40, 48;

    --gray-100: 250, 250, 250;
    --gray-200: 229, 229, 229;
    --gray-300: 204, 204, 204;
    --gray-400: 153, 153, 153;
    --gray-500: 128, 128, 128;
    --gray-600: 102, 102, 102;
    --gray-700: 56, 56, 56;
    --gray-800: 31, 31, 31;
    --gray-900: 10, 10, 10;
}
